﻿<div class="card shadow mb-4">

    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Solicitud de limitación, Inscripción: <span id="id-inscripcion">@ViewBag.ID_INSCRIPCION</span></h6>
    </div>

    <div class="card-body" id="datos-usuario">
        <div class="row">
            <div class="col-lg-12" id="alerta-spiev"></div>
        </div>
        <div class="row">
            <div class="col">
                <button id="btn-add-file" type="button" class="btn btn-outline-primary disabled" disabled onclick="AgregarFile()">
                    <i class="fas fa-spinner fa-spin"></i>
                    Cargando...
                </button>
                <button id="btn-load-from-solicitud" type="button" class="btn btn-outline-primary disabled" disabled onclick="ClickDesdeSolicitud()">
                    <i class="fas fa-spinner fa-spin"></i>
                    Cargando...
                </button>
            </div>
        </div>

        <div class="row" id="row-upload-ajax" style="display: none;">
            <div class="col-11">
                <label id="label-status">
                    <i class="fas fa-spinner fa-spin"></i> Subiendo...
                </label>
            </div>
        </div>

        <div id="files" class="row">

        </div>

        <div class="row">
            <div class="col-lg-12">
                <button id="btn-cargar-documentos" onclick="ClickOnSave()" class="btn btn-primary float-right disabled" disabled type="button">
                    <i class="fas fa-spinner fa-spin"></i>
                    Cargando...
                </button>
            </div>
        </div>

    </div>
</div>

<!--RENDERIZADO DE SCRIPTS POR PAGINA-->
@section scripts
{
    @Scripts.Render($"~/Scripts/pages/Inscripcion_Solicitud_Limitacion.js?v={DateTime.Now.ToString("ddMMyyyyHmm")}")
}