﻿@using SPIEV.LIB_WEB
@using SPIEV.WEBSITE.Models

@{ USUARIO_SESSION usuario = SESSION_WEB.SESION_USER; }

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    @Styles.Render("~/fonts/fontawesome-free/css/all.min.css")

    <!-- FUENTES DE GOOGLE FONTS ;) -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!--HOJA DE ESTILOS DEL SITIO-->
    @Styles.Render("~/Content/sb-admin-2.css")

    <!--SECCION PARA ESTILOS PROPIOS DE CADA PAGINA-->
    @RenderSection("styles", required: false)

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../registro/pagina-inicio">
                <div class="sidebar-brand-icon">
                    <img class="img-fluid" style="max-width: 72% !important;" src="~/Images/IBR_LOGO.png" />
                </div>
                <div class="sidebar-brand-text mx-3">IBR Chile</div>
            </a>
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Mis Perfiles
            </div>

            @{
                foreach (var perfil in usuario.MIS_PERFILES)
                {

                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_perfil@(perfil.ID_PERFIL)" aria-expanded="true" aria-controls="collapseTwo">
                            <i class="@perfil.PERFIL.ICONO"></i>
                            <span>@perfil.PERFIL.NOMBRE</span>
                        </a>
                        <div id="collapse_perfil@(perfil.ID_PERFIL)" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                @* SOLO LAS PAGINAS QUE FORMAN PARTE DEL MENU *@
                                @foreach (var pagina in perfil.PERFIL.PAGINAS.Where(n => n.PAGINA.ES_MENU))
                                {
                                    <a class="collapse-item" href="@Url.Action(pagina.PAGINA.ACCION, pagina.PAGINA.CONTROLADOR)">
                                        <i class="@pagina.PAGINA.ICONO_MENU"></i>
                                        <small>@pagina.PAGINA.NOMBRE_MENU</small>
                                    </a>
                                }
                            </div>
                        </div>
                    </li>

                    @*<!-- Heading -->
                <div class="sidebar-heading">
                    @perfil.PERFIL.NOMBRE
                </div>

                foreach (var pagina in perfil.PERFIL.LIST_PAGINA_PERFIL)
                {
                    <!-- Nav Item - Tables -->
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action(pagina.PAGINA.ACCION, pagina.PAGINA.CONTROLADOR)">
                            <i class="@pagina.PAGINA.ICONO_MENU"></i>
                            <span>@pagina.PAGINA.NOMBRE_MENU</span>
                        </a>
                    </li>
                }*@
                }
            }


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow navbar-spiev">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="navbar-collapse collapse" id="collapsingNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">@usuario.NOMBRE_COMPLETO</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    Empresas
                                </a>
                                <div class="dropdown-menu dropdown-spiev-empresa">
                                    @{ var GROUP_EMPRESA = usuario.MIS_SUCURSALES.GroupBy(c => new { c.SUCURSAL.EMPRESA.ID_EMPRESA, c.SUCURSAL.EMPRESA.NOMBRE_EMPRESA }); }
                                    @foreach (var empresa in GROUP_EMPRESA)
                                    {
                                        <a class="dropdown-item" href="#">@empresa.Key.NOMBRE_EMPRESA</a>
                                        <ul class="dropdown-submenu">
                                            @foreach (var sucursal in usuario.MIS_SUCURSALES.Where(n => n.SUCURSAL.ID_EMPRESA == empresa.Key.ID_EMPRESA))
                                            {
                                                <li class="dropdown-item"><a href="#">@sucursal.SUCURSAL.NOMBRE_SUCURSAL</a></li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Topbar Search -->
                    @*<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>*@

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        @*<li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>*@

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@usuario.NOMBRE_USUARIO</span>
                                <div class="rounded-circle">
                                    <i class="fas fa-user-circle"></i>
                                </div>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Salir
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>COPYRIGHT &copy; SPIEV IBR CHILE @DateTime.Now.Year</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Seguro que deseas salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Al presionar el boton "Salir" terminará la sesión actual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a id="logout-link" class="btn btn-primary" href="#">Salir</a>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/dashboard")

    @RenderSection("scripts", required: false)

</body>

</html>
