﻿@model SPIEV.Web.Models.Views.Primera_Inscripcion_ViewModel

<div class="row">

    <!-- Area Chart -->
    <div class="col-lg-12 col-xs-12 ">

        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Formulario de Ingreso, Solicitud : <span id="id-solicitud">@Model.ID_SOLICITUD.Value</span></h6>
                <div class="dropdown no-arrow">
                    <button type="button" class="btn btn-primary btn-sm" onclick="VER_PDF_MERGE(this)">
                        <i class="fas fa-eye"></i> Solicitud PDF
                    </button>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12" id="alerta-spiev"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-vehiculo-tab" data-toggle="tab" href="#nav-vehiculo" role="tab" aria-controls="nav-vehiculo" aria-selected="true">Vehiculo</a>
                                <a class="nav-item nav-link" id="nav-comunidad-tab" data-toggle="tab" href="#nav-comunidad" role="tab" aria-controls="nav-comunidad" aria-selected="false">Comunidad</a>
                                <a class="nav-item nav-link" id="nav-adquiriente-tab" data-toggle="tab" href="#nav-adquiriente" role="tab" aria-controls="nav-adquiriente" aria-selected="false">Adquiriente</a>
                                <a class="nav-item nav-link" id="nav-solicitante-tab" data-toggle="tab" href="#nav-solicitante" role="tab" aria-controls="nav-solicitante" aria-selected="false">Solicitante</a>
                                <a class="nav-item nav-link" id="nav-estipulante-tab" data-toggle="tab" href="#nav-estipulante" role="tab" aria-controls="nav-estipulante" aria-selected="false">Estipulante</a>
                                <a class="nav-item nav-link" id="nav-impuesto-tab" data-toggle="tab" href="#nav-impuesto" role="tab" aria-controls="nav-impuesto" aria-selected="false">Impuesto</a>
                                <a class="nav-item nav-link" id="nav-factura-tab" data-toggle="tab" href="#nav-factura" role="tab" aria-controls="nav-factura" aria-selected="false">Factura</a>
                                <a class="nav-item nav-link" id="nav-observacion-tab" data-toggle="tab" href="#nav-observacion" role="tab" aria-controls="nav-observacion" aria-selected="false">Observacion</a>
                                <a class="nav-item nav-link" id="nav-operador-tab" data-toggle="tab" href="#nav-operador" role="tab" aria-controls="nav-operador" aria-selected="false">Operador</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-vehiculo" role="tabpanel" aria-labelledby="nav-comunidad-tab">
                                @Html.Partial("~/Views/Shared/Inscripcion/_VehiculoForm.cshtml", Model)
                            </div>
                            <div class="tab-pane fade" id="nav-comunidad" role="tabpanel" aria-labelledby="nav-comunidad-tab">
                                @Html.Partial("~/Views/Shared/Inscripcion/_ComunidadForm.cshtml", Model)
                            </div>
                            <div class="tab-pane fade" id="nav-adquiriente" role="tabpanel" aria-labelledby="nav-adquiriente-tab">
                                @Html.Partial("~/Views/Shared/Inscripcion/_AdquirienteForm.cshtml", Model)
                            </div>
                            <div class="tab-pane fade" id="nav-solicitante" role="tabpanel" aria-labelledby="nav-contact-tab">
                                @Html.Partial("~/Views/Shared/Inscripcion/_SolicitanteForm.cshtml", Model)
                            </div>
                            <div id="nav-estipulante" role="tabpanel" class="tab-pane fade">
                                @Html.Partial("~/Views/Shared/Inscripcion/_EstipulanteForm.cshtml", Model)
                            </div>
                            <div id="nav-impuesto" role="tabpanel" class="tab-pane fade">
                                @Html.Partial("~/Views/Shared/Inscripcion/_ImpuestoForm.cshtml", Model)
                            </div>
                            <div id="nav-factura" role="tabpanel" class="tab-pane fade">
                                @Html.Partial("~/Views/Shared/Inscripcion/_FacturaForm.cshtml", Model)
                            </div>
                            <div id="nav-observacion" role="tabpanel" class="tab-pane fade">
                                @Html.Partial("~/Views/Shared/Inscripcion/_ObservacionForm.cshtml", Model)
                            </div>
                            <div id="nav-operador" role="tabpanel" class="tab-pane fade">
                                @Html.Partial("~/Views/Shared/Inscripcion/_OperadorForm.cshtml", Model)

                                <div class="p-3">
                                    <div class="col-xs-12">
                                        <div class="text-right">
                                            <button id="btn-generar-spiev" class="btn btn-success" type="button">
                                                Generar 1era Inscripción
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse col-lg-6" id="collapse-view-pdf">
                        <div class="pb-2 h-100">
                            <div class="card card-body p-1 h-100">
                                <iframe id="frame-pdf-merge" src="#" data-src="https://docs.google.com/gview?url={RUTA_PDF}&embedded=true" style="width: 100%; height: 100%; min-height: 400px;" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--RENDERIZADO DE SCRIPTS POR PAGINA-->
@section scripts
{
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    @Scripts.Render($"~/Scripts/pages/Registro_Inscripcion_Solicitud.js?v={DateTime.Now.ToString("ddMMyyyyHmm")}")
}