﻿<div class="row">
    <div class="col-2">
        <div class="nav flex-column nav-pills nav-link-inscripcion" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-vehiculo" role="tab">
                <small>Vehiculo</small>
            </a>
            <a class="nav-link nav-link-inscripcion" id="v-pills-comunidad-tab" data-toggle="pill" href="#v-pills-comunidad" role="tab">
                <small>Comunidad</small>
            </a>
            <a class="nav-link" id="v-pills-adquiriente-tab" data-toggle="pill" href="#v-pills-adquiriente" role="tab">
                <small>Adquiriente</small>
            </a>
            <a class="nav-link" id="v-pills-solicitante-tab" data-toggle="pill" href="#v-pills-solicitante" role="tab">
                <small>Solicitante</small>
            </a>
            <a class="nav-link" id="v-pills-estipulante-tab" data-toggle="pill" href="#v-pills-estipulante" role="tab">
                <small>Estipulante</small>
            </a>
            <a class="nav-link" id="v-pills-impuesto-tab" data-toggle="pill" href="#v-pills-impuesto" role="tab">
                <small>Impuesto</small>
            </a>
            <a class="nav-link" id="v-pills-factura-tab" data-toggle="pill" href="#v-pills-factura" role="tab">
                <small>Factura</small>
            </a>
            <a class="nav-link" id="v-pills-observacion-tab" data-toggle="pill" href="#v-pills-observacion" role="tab">
                <small>Observacion</small>
            </a>
            <a class="nav-link" id="v-pills-operador-tab" data-toggle="pill" href="#v-pills-operador" role="tab">
                <small>Operador</small>
            </a>
        </div>
    </div>
    <div class="col-10">
        <div class="tab-content" id="v-pills-tabContent" style="height:270px; overflow-y: scroll;">
            <div class="tab-pane fade show active" id="v-pills-vehiculo" role="tabpanel">
                <table class="table table-sm loading-table-ajax">
                    <tbody>
                        <tr>
                            <th scope="row">Id Vehiculo</th>
                            <td id="id-vehiculo">Mark</td>
                        </tr>
                        <tr>
                            <th scope="row">Codigo Inf. Tec.</th>
                            <td id="codigo-informe-tecnico-vehiculo">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">N° Asientos</th>
                            <td id="num-asientos-vehiculo">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Año Fabric.</th>
                            <td id="anho-fabricacion-vehiculo">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Tipo Comb.</th>
                            <td id="tipo-combustible-vehiculo">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Marca</th>
                            <td id="marca-vehiculo">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Modelo</th>
                            <td id="modelo-vehiculo">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">N° Chasis</th>
                            <td id="num-chasis-vehiculo">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">N° Motor</th>
                            <td id="num-motor-vehiculo">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">N° Serie</th>
                            <td id="num-serie-vehiculo">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">N° Vin</th>
                            <td id="num-vin-vehiculo">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">PBV</th>
                            <td id="pbv-vehiculo">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">N° Puertas</th>
                            <td id="num-puertas-vehiculo">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Tipo Vehiculo</th>
                            <td id="tipo-vehiculo">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Tipo Carga</th>
                            <td id="tipo-carga-vehiculo">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Tipo PBV</th>
                            <td id="tipo-pbv-vehiculo">Cargando...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="v-pills-comunidad" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th scope="row">Id Comunidad</th>
                            <td id="id-comunidad">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Opción</th>
                            <td id="opcion-comunidad">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Cantidad</th>
                            <td id="cantidad-comunidad">Cargando...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="v-pills-adquiriente" role="tabpanel">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th scope="row">Id Adquiriente</th>
                            <td id="id-adquiriente">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Apellido Pat.</th>
                            <td id="ape-paterno-adquiriente">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Apellido Mat.</th>
                            <td id="ape-materno-adquiriente">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Razon Social</th>
                            <td id="razon-social-adquiriente">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Run</th>
                            <td id="run-adquiriente">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Calle</th>
                            <td id="calle-adquiriente">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">N° Domicilio</th>
                            <td id="num-domicilio-adquiriente">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Letra Domicilio</th>
                            <td id="letra-domicilio-adquiriente">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Resto Domicilio</th>
                            <td id="resto-domicilio-adquiriente">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Telefono</th>
                            <td id="telefono-adquiriente">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Codigo Postal</th>
                            <td id="cod-postal-adquiriente">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Correo Electronico</th>
                            <td id="correo-adquiriente">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Comuna</th>
                            <td id="comuna-adquiriente">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Calidad Persona</th>
                            <td id="calidad-adquiriente">Cargando...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="v-pills-solicitante" role="tabpanel">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th scope="row">Id Solicitante</th>
                            <td id="id-solicitante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Apellido Pat.</th>
                            <td id="ape-paterno-solicitante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Apellido Mat.</th>
                            <td id="ape-materno-solicitante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Razon Social</th>
                            <td id="razon-social-solicitante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Run</th>
                            <td id="run-solicitante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Calle</th>
                            <td id="calle-solicitante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">N° Domicilio</th>
                            <td id="num-domicilio-solicitante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Letra Domicilio</th>
                            <td id="letra-domicilio-solicitante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Resto Domicilio</th>
                            <td id="resto-domicilio-solicitante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Telefono</th>
                            <td id="telefono-solicitante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Codigo Postal</th>
                            <td id="cod-postal-solicitante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Correo Electronico</th>
                            <td id="correo-solicitante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Comuna</th>
                            <td id="comuna-solicitante">Cargando...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="v-pills-estipulante" role="tabpanel">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th scope="row">Id Estipulante</th>
                            <td id="id-estipulante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Apellido Pat.</th>
                            <td id="ape-paterno-estipulante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Apellido Mat.</th>
                            <td id="ape-materno-estipulante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Razon Social</th>
                            <td id="razon-social-estipulante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Run</th>
                            <td id="run-estipulante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Calle</th>
                            <td id="calle-estipulante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">N° Domicilio</th>
                            <td id="num-domicilio-estipulante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Letra Domicilio</th>
                            <td id="letra-domicilio-estipulante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Resto Domicilio</th>
                            <td id="resto-domicilio-estipulante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Telefono</th>
                            <td id="telefono-estipulante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Codigo Postal</th>
                            <td id="cod-postal-estipulante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Correo Electronico</th>
                            <td id="correo-estipulante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Comuna</th>
                            <td id="comuna-estipulante">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Calidad Persona</th>
                            <td id="calidad-estipulante">Cargando...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="v-pills-impuesto" role="tabpanel">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th scope="row">Id Impuesto</th>
                            <td id="id-impuesto">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Cod. Identificación</th>
                            <td id="cod-ide-impuesto">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Cod. Inf. Tecnico</th>
                            <td id="cod-inf-tecnico">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Monto Impuesto</th>
                            <td id="monto-impuesto">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Total Factura</th>
                            <td id="total-factura-impuesto">Cargando...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="v-pills-factura" role="tabpanel">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th scope="row">Id Factura</th>
                            <td id="id-factura">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">N° Factura</th>
                            <td id="num-factura">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Fecha</th>
                            <td id="fecha-factura">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Comuna</th>
                            <td id="comuna-factura">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Rut Emisor</th>
                            <td id="rut-emisor-factura">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Nombre Emisor</th>
                            <td id="nombre-emisor-factura">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Total Factura</th>
                            <td id="total-factura">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Tipo Moneda</th>
                            <td id="tipo-moneda-factura">Cargando...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="v-pills-observacion" role="tabpanel">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th scope="row">Id Observacion</th>
                            <td id="id-observacion">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Observación</th>
                            <td id="observacion">Cargando...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="v-pills-operador" role="tabpanel">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th scope="row">Id Operador</th>
                            <td id="id-operador">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Región</th>
                            <td id="region-operador">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Run Usuario</th>
                            <td id="run-usuario-operador">Cargando...</td>
                        </tr>
                        <tr>
                            <th scope="row">Run Empresa</th>
                            <td id="run-empresa-operador">Cargando...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>