﻿@model SPIEV.Web.Models.Views.Perfil_ViewModel

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Edición Perfil</h6>
    </div>
    <div class="card-body" id="datos-perfil">
        <div class="row">
            <div class="col-lg-12" id="alerta-spiev"></div>
        </div>
        <div class="form-group row">
            @Html.Label("Id :", new { @class = "col-sm-2 col-form-label col-form-label-sm" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Perfil.ID_PERFIL, new { @class = "form-control form-control-sm", data_propiedad = "ID_PERFIL", data_entero = true, @readonly = "true" })
            </div>

            @Html.Label("Nombre Perfil :", new { @class = "col-sm-2 col-form-label col-form-label-sm" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Perfil.NOMBRE, new { @class = "form-control form-control-sm", data_propiedad = "NOMBRE" })
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Descripción :", new { @class = "col-sm-2 col-form-label col-form-label-sm" })
            <div class="col-sm-10">
                @Html.TextAreaFor(m => m.Perfil.DESCRIPCION, new { @class = "form-control form-control-sm", data_propiedad = "DESCRIPCION", })
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Pagina por defecto :", new { @class = "col-sm-4 col-form-label col-form-label-sm" })
            <div class="col-sm-12">
                @*SE MUESTRAN LAS PAGINAS QUE SEAN MENU *@
                @foreach (var item in Model.Paginas.Where(n => n.PAGINA.ES_MENU))
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" data-radio="true" name="pagina-defecto" data-propiedad="PAGINA_POR_DEFECTO" id="pagina-defecto" value="@item.ID_PAGINA_PERFIL" checked="@Model.Paginas.Any(n => n.POR_DEFECTO && n.ID_PAGINA == item.ID_PAGINA)">
                        <label class="form-check-label">
                            <small>@item.PAGINA.NOMBRE_MENU</small>
                        </label>
                    </div>
                }
            </div>
        </div>
        <button id="btn-editar-perfil" onclick="ClickOnEdit()" class="btn btn-primary float-right" type="submit">Guardar</button>
    </div>
</div>

<!--RENDERIZADO DE SCRIPTS POR PAGINA-->
@section scripts
{
    @Scripts.Render($"~/Scripts/pages/Admin_Perfiles.js?v={DateTime.Now.ToString("ddMMyyyyHmm")}")
}