﻿@model SPIEV.Web.Models.Views.Usuario_ViewModel

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Edición Usuario</h6>
    </div>
    <div class="card-body" id="datos-usuario">
        <div class="row">
            <div class="col-lg-12" id="alerta-spiev"></div>
        </div>
        <div class="form-group row">
            @Html.Label("Id :", new { @class = "col-sm-1 col-form-label col-form-label-sm" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Usuario.ID_USUARIO, new { @class = "form-control form-control-sm", data_propiedad = "ID_USUARIO", @readonly = "true" })
            </div>
            @Html.Label("Estado :", new { @class = "col-sm-1 col-form-label col-form-label-sm" })
            <div class="col-sm-5">
                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(model => model.Usuario.ACTIVO, true, new { data_propiedad = "ACTIVO", data_boolean = true, data_radio = true })
                    <label class="form-check-label" for="inlineRadio1">
                        <small>&nbsp;Activo</small>
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(model => model.Usuario.ACTIVO, false, new { data_propiedad = "ACTIVO", data_boolean = true, data_radio = true })
                    <label class="form-check-label" for="inlineRadio2">
                        <small>&nbsp;Inactivo</small>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Usuario :", new { @class = "col-sm-1 col-form-label col-form-label-sm" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Usuario.NOMBRE_USUARIO, new { @class = "form-control form-control-sm", data_propiedad = "NOMBRE_USUARIO" })
            </div>
            @Html.Label("Nombre Completo :", new { @class = "col-sm-2 col-form-label col-form-label-sm" })
            <div class="col-sm-5">
                @Html.TextBoxFor(m => m.Usuario.NOMBRE_COMPLETO, new { @class = "form-control form-control-sm", data_propiedad = "NOMBRE_COMPLETO" })
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Correo :", new { @class = "col-sm-1 col-form-label col-form-label-sm" })
            <div class="col-sm-11">
                @Html.TextBoxFor(m => m.Usuario.CORREO_ELECTRONICO, new { @class = "form-control form-control-sm", data_propiedad = "CORREO_ELECTRONICO" })
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Clave :", new { @class = "col-sm-1 col-form-label col-form-label-sm" })
            <div class="col-sm-5">
                @Html.Password("Usuario_Clave", null, new { @class = "form-control form-control-sm", @placeholder = "Nueva Clave", data_propiedad = "CLAVE" })
            </div>
            @Html.Label("Clave :", new { @class = "col-sm-1 col-form-label col-form-label-sm" })
            <div class="col-sm-5">
                @Html.Password("Usuario_Clave_Repetir", null, new { @class = "form-control form-control-sm", @placeholder = "Repertir Clave", data_propiedad = "REPERTIR_CLAVE" })
            </div>
            <div class="col-sm">
                <small id="emailHelp" class="form-text text-muted">* Para mantener la contraseña actual deja en blanco estos campos</small>
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Perfiles :", new { @class = "col-sm-2 col-form-label col-form-label-sm" })
            <div class="col-sm-10">
                @foreach (var item in Model.Perfiles)
                {
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="PERFILES" data-propiedad="PERFILES" data-checkbox="true" value="@item.ID_PERFIL" checked="@Model.Usuario.LIST_USUARIO_PERFIL.Any(n => n.PERFIL.ID_PERFIL == item.ID_PERFIL)" id="perfil_@(item.ID_PERFIL)">
                        <label class="form-check-label" for="perfil_@(item.ID_PERFIL)">
                            <small>@item.NOMBRE</small>
                        </label>
                    </div>
                }
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Perfil por defecto :", new { @class = "col-sm-2 col-form-label col-form-label-sm" })
            <div class="col-sm-10">
                @foreach (var item in Model.Perfiles)
                {
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" data-radio="true" name="perfil-defecto" data-propiedad="PERFIL_POR_DEFECTO" data-entero="true" value="@item.ID_PERFIL" checked="@Model.Usuario.LIST_USUARIO_PERFIL.Any(n => n.POR_DEFECTO && n.PERFIL.ID_PERFIL == item.ID_PERFIL)">
                        <label class="form-check-label">
                            <small>@item.NOMBRE</small>
                        </label>
                    </div>
                }
            </div>
        </div>
        <hr />
        <div class="form-group row">
            @Html.Label("Empresas :", new { @class = "col-sm-2 col-form-label col-form-label-sm" })
        </div>
        <div class="form-group row">
            @foreach (var empresa in Model.Empresas)
            {
                if (empresa.SUCURSALES.Any())
                {
                    <div class="col-md-3 my-1">
                        <div class="card">
                            <div class="card-body py-0 px-2">
                                <div class="row">
                                    <div class="col">
                                        <a class="card-link" data-toggle="collapse" href="#collapse_@(empresa.ID_EMPRESA)" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            <small>@empresa.NOMBRE_EMPRESA</small>
                                        </a>
                                    </div>
                                </div>

                                <div class="collapse" id="collapse_@(empresa.ID_EMPRESA)">
                                    @foreach (var sucursal in empresa.SUCURSALES)
                                    {
                                        <div class="form-check">
                                            <input class="form-check-input" name="SUCURSALES" data-propiedad="SUCURSALES" checked="@Model.Usuario.LIST_SUCURSAL_USUARIO.Any(n => n.ID_SUCURSAL == sucursal.ID_SUCURSAL)" data-checkbox="true" type="checkbox" value="@sucursal.ID_SUCURSAL">
                                            <label class="form-check-label">
                                                <small>@sucursal.NOMBRE_SUCURSAL</small>
                                            </label>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                }

            }
        </div>

        <button id="btn-editar-usuario" onclick="CLICK_EDIT()" class="btn btn-primary float-right" type="submit">Guardar</button>
    </div>
</div>

<!--RENDERIZADO DE SCRIPTS POR PAGINA-->
@section scripts
{
    @Scripts.Render($"~/Scripts/pages/Admin_Usuarios.js?v={DateTime.Now.ToString("ddMMyyyyHmm")}")
}