﻿@model SPIEV.Lib.Empresa

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Edición Empresa</h6>
    </div>
    <div class="card-body" id="datos-empresa">
        <div class="row">
            <div class="col-lg-12" id="alerta-spiev"></div>
        </div>
        <div class="form-group row">
            @Html.Label("Id :", new { @class = "col-sm-1 col-form-label col-form-label-sm" })
            <div class="col-sm-11">
                @Html.TextBoxFor(m => m.ID_EMPRESA, new { @class = "form-control form-control-sm", data_propiedad = "ID_EMPRESA", @readonly = "true" })
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Empresa :", new { @class = "col-sm-1 col-form-label col-form-label-sm" })
            <div class="col-sm-11">
                @Html.TextBoxFor(m => m.NOMBRE_EMPRESA, new { @class = "form-control form-control-sm", data_propiedad = "NOMBRE_EMPRESA" })
            </div>
        </div>
        <button id="btn-editar-empresa" onclick="CLICK_EDIT()" class="btn btn-primary float-right" type="submit">Guardar empresa</button>
    </div>
</div>

<!--RENDERIZADO DE SCRIPTS POR PAGINA-->
@section scripts
{
    @Scripts.Render($"~/Scripts/pages/Admin_Empresas.js?v={DateTime.Now.ToString("ddMMyyyyHmm")}")
}