﻿@model SPIEV.Web.Models.Views.Sucursal_ViewModel

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Nueva Sucursal</h6>
    </div>
    <div class="card-body" id="datos-sucursal">
        <div class="row">
            <div class="col-lg-12" id="alerta-spiev"></div>
        </div>
        <div class="form-group row">
            @Html.Label("Nombre Sucursal :", new { @class = "col-sm-2 col-form-label col-form-label-sm" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Sucursal.NOMBRE_SUCURSAL, new { @class = "form-control form-control-sm", data_propiedad = "NOMBRE_SUCURSAL" })
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Empresa :", new { @class = "col-sm-2 col-form-label col-form-label-sm" })
            <div class="col-sm-10">
                @Html.DropDownListFor(m => m.Sucursal.ID_EMPRESA,
                    Model.Empresas.Select(n =>
                    new SelectListItem() { Text = n.NOMBRE_EMPRESA, Value = $"{n.ID_EMPRESA}" }),
                    new { @class = "form-control form-control-sm", data_propiedad = "ID_EMPRESA", data_entero = true })
            </div>
        </div>
        <button id="btn-crear-sucursal" onclick="CLICK_CREATE()" class="btn btn-primary float-right" type="submit">Crear Sucursal</button>
    </div>
</div>

<!--RENDERIZADO DE SCRIPTS POR PAGINA-->
@section scripts
{
    @Scripts.Render($"~/Scripts/pages/Admin_Sucursales.js?v={DateTime.Now.ToString("ddMMyyyyHmm")}")
}