﻿<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Sucursales del sistema</h1>
<p class="mb-4">Agregar, deshabilitar y editar sucursales del sistema</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Todas las sucursales</h6>
    </div>
    <div class="card-body">
        <a href="@Url.Action("NuevaSucursal", "Admin")" class="btn btn-sm btn-outline-primary mb-2">
            <i class="fas fa-plus"></i> Nueva Sucursal
        </a>
        <div class="table-responsive">
            <table class="table table-hover table-sm" id="tabla-sucursales" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Empresa</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Empresa</th>
                        <th>Opciones</th>
                    </tr>
                </tfoot>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<!--RENDERIZADO DE ESTILOS POR PAGINA-->
@section styles
{
    @Styles.Render("~/Content/datatables/dataTables.bootstrap4.min.css")
}

<!--RENDERIZADO DE SCRIPTS POR PAGINA-->
@section scripts
{
    @Scripts.Render("~/Scripts/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/datatables/dataTables.bootstrap4.min.js")
    @Scripts.Render($"~/Scripts/pages/Admin_Sucursales.js?v={DateTime.Now.ToString("ddMMyyyyHmm")}")
}