﻿@model SPIEV.WEBSITE.Models.SOLICITUD_VM

<div class="card shadow mb-2">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Crear Solicitud</h6>
    </div>
    <div class="card-body" id="datos-usuario">
        <div class="row">
            <div class="col-lg-12" id="alerta-spiev"></div>
        </div>
        <div class="row" id="row-upload-ajax" style="display: none;">
            <div class="col-11">
                <label id="label-status">
                    <i class="fas fa-spinner fa-spin"></i> Subiendo...
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-2">
                <div class="form-group">
                    <label for="rut-adquiriente">Rut Adquiriente</label>
                    <input type="text" class="form-control form-control-sm" id="rut-adquiriente" placeholder="Ej. 19570929-7" maxlength="10" />
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label for="correo-adquiriente">Correo Adquiriente</label>
                    <input type="email" class="form-control form-control-sm" id="correo-adquiriente" />
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="form-group">
                    <label for="Financieras">Financiera</label>
                    @Html.DropDownList("Financieras",
                    Model.FINANCIERAS.Select(n =>
                        new SelectListItem {
                            Text = n.NOMBRE_FINANCIERA,
                            Value = $"{n.ID_FINANCIERA}"  }),
                    new { @class = "form-control form-control-sm" })
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="form-group">
                    <label for="Sucursales">Sucursal</label>
                    <select id="Sucursales" class="form-control form-control-sm">
                        @{ var GROUP_EMPRESA = Model.SUCURSALES.GroupBy(c => new { c.SUCURSAL.EMPRESA.ID_EMPRESA, c.SUCURSAL.EMPRESA.NOMBRE_EMPRESA }); }

                        @foreach (var EMPRESA in GROUP_EMPRESA)
                        {
                            <optgroup label="@EMPRESA.Key.NOMBRE_EMPRESA">
                                @foreach (var SUCURSAL in Model.SUCURSALES.Where(X => X.SUCURSAL.EMPRESA.ID_EMPRESA == EMPRESA.Key.ID_EMPRESA))
                                {
                                    <option value="@SUCURSAL.SUCURSAL.ID_SUCURSAL">
                                        @SUCURSAL.SUCURSAL.NOMBRE_SUCURSAL
                                    </option>
                                }
                            </optgroup>
                        }
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <label>Terminación Requerida</label>
                <div class="form-row">
                    <div class="form-group col-6">
                        @Html.DropDownList("TerminacionOPC1", Model.TERMINACIONES, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group col-6">
                        @Html.DropDownList("TerminacionOPC2", Model.TERMINACIONES, new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <label for="comentario-solicitud">Comentario Solicitud</label>
                <div class="form-row">
                    <div class="form-group col-12">
                        <textarea class="form-control form-control-sm" id="comentario-solicitud" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <label>Servicios Solicitados</label>
                <div class="form-group">
                    @foreach (var SERVICIO in Model.SERVICIOS)
                    {
                        <div class="form-check">
                            <input class="form-check-input" name="servicios" type="checkbox" value="@SERVICIO.ID_SERVICIO" id="serv-@(SERVICIO.ID_SERVICIO)">
                            <label class="form-check-label" for="serv-@(SERVICIO.ID_SERVICIO)">
                                @SERVICIO.NOMBRE
                            </label>
                        </div>
                    }
                </div>
            </div>
            <div class="col-12 col-md-7">
                <button type="button" class="btn btn-sm btn-outline-primary" onclick="CLICK_ADD_FILE()">
                    <i class="fas fa-plus-circle"></i>
                    Agregar archivo
                </button>
                <div id="files" class="row">

                </div>
            </div>
        </div>
    </div>
    <div class="card-footer bg-transparent">
        <div class="row">
            <div class="col-lg-12">
                <button id="btn-crear-usuario" onclick="CLICK_CREAR()" class="btn btn-sm btn-primary float-right" type="submit">Enviar Solicitud</button>
            </div>
        </div>
    </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-2">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mis solicitudes</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-sm" id="tabla-mis-solicitudes" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Rut</th>
                        <th>Estado Solicitud</th>
                        <th>Estado Inscripción</th>
                        <th>Sucursal</th>
                        <th>Fecha</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Rut</th>
                        <th>Estado Solicitud</th>
                        <th>Estado Inscripción</th>
                        <th>Sucursal</th>
                        <th>Fecha</th>
                        <th>Opciones</th>
                    </tr>
                </tfoot>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<!--MODAL DETALLE MIS SOLICITES-->
@Html.Partial("~/Views/Shared/Modals/_Detalle_Mis_Solicitudes.cshtml")

<!--RENDERIZADO DE ESTILOS POR PAGINA-->
@section styles
{
    @Styles.Render("~/Content/datatables/dataTables.bootstrap4.min.css")
}

<!--RENDERIZADO DE SCRIPTS POR PAGINA-->
@section scripts
{
    @Scripts.Render("~/Scripts/moment/moment.min.js")
    @Scripts.Render("~/Scripts/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/datatables/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Scripts/datatables/fnFindCellRowIndexes.js")
    @Scripts.Render($"~/Scripts/pages/Solicitud_Mis_Solicitudes.js?v={DateTime.Now.ToString("ddMMyyyyHmm")}")
    @Scripts.Render($"~/Scripts/pages/Solicitud_Index.js?v={DateTime.Now.ToString("ddMMyyyyHmm")}")
}