﻿@model SPIEV.Web.Models.Views.Primera_Inscripcion_ViewModel

@using (Html.BeginForm("IngresoInscripcion", "Registro", FormMethod.Post, new { @id = "form-step-2", @class = "user form-spiev", @name = "AdquirienteForm" }))
{
    <div class="p-3">
        <h4 class="border-bottom border-gray pb-2">Datos Adquirente</h4>
        <div class="form-group row">
            <div class="col-sm-4 mb-3 mb-sm-0">
                @Html.LabelFor(m => m.AdquirienteForm.RAZON_SOCIAL, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.AdquirienteForm.RAZON_SOCIAL, new { @class = "form-control form-control-user", data_propiedad = "RAZON_SOCIAL" })
                @Html.ValidationMessageFor(m => m.AdquirienteForm.RAZON_SOCIAL, "", new { @class = "text-danger col-form-label-sm" })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(m => m.AdquirienteForm.APELLIDO_PATERNO, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.AdquirienteForm.APELLIDO_PATERNO, new { @class = "form-control form-control-user", data_propiedad = "APELLIDO_PATERNO" })
                @Html.ValidationMessageFor(m => m.AdquirienteForm.APELLIDO_PATERNO, "", new { @class = "text-danger col-form-label-sm" })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(m => m.AdquirienteForm.APELLIDO_MATERNO, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.AdquirienteForm.APELLIDO_MATERNO, new { @class = "form-control form-control-user", data_propiedad = "APELLIDO_MATERNO" })
                @Html.ValidationMessageFor(m => m.AdquirienteForm.APELLIDO_MATERNO, "", new { @class = "text-danger col-form-label-sm" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                @Html.LabelFor(m => m.AdquirienteForm.RUN, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.AdquirienteForm.RUN, new { @class = "form-control form-control-user", data_propiedad = "RUN" })
                @Html.ValidationMessageFor(m => m.AdquirienteForm.RUN, "", new { @class = "text-danger col-form-label-sm" })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(m => m.AdquirienteForm.ID_CALIDAD_PERSONA, new { @class = "col-form-label col-form-label-sm" })
                @Html.DropDownListFor(m => m.AdquirienteForm.ID_CALIDAD_PERSONA,
                                    Model.LISTA_CALIDAD_PERSONAS.Select(n =>
                                    new SelectListItem() { Text = n.TIPO_PERSONA_DESCRIPCION, Value = $"{n.ID_CALIDAD}" }),
                                    new { @class = "form-control form-control-user", data_propiedad = "ID_CALIDAD_PERSONA", data_entero = true })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4 mb-3 mb-sm-0">
                @Html.LabelFor(m => m.AdquirienteForm.CALLE, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.AdquirienteForm.CALLE, new { @class = "form-control form-control-user", data_propiedad = "CALLE" })
                @Html.ValidationMessageFor(m => m.AdquirienteForm.CALLE, "", new { @class = "text-danger col-form-label-sm" })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(m => m.AdquirienteForm.NUMERO_DOMICILIO, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.AdquirienteForm.NUMERO_DOMICILIO, new { @class = "form-control form-control-user", data_propiedad = "NUMERO_DOMICILIO" })
                @Html.ValidationMessageFor(m => m.AdquirienteForm.NUMERO_DOMICILIO, "", new { @class = "text-danger col-form-label-sm" })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(m => m.AdquirienteForm.LETRA_DOMICILIO, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.AdquirienteForm.LETRA_DOMICILIO, new { @class = "form-control form-control-user", data_propiedad = "LETRA_DOMICILIO" })
                @Html.ValidationMessageFor(m => m.AdquirienteForm.LETRA_DOMICILIO, "", new { @class = "text-danger col-form-label-sm" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4 mb-3 mb-sm-0">
                @Html.LabelFor(m => m.AdquirienteForm.RESTO_DOMICILIO, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.AdquirienteForm.RESTO_DOMICILIO, new { @class = "form-control form-control-user", data_propiedad = "RESTO_DOMICILIO" })
                @Html.ValidationMessageFor(m => m.AdquirienteForm.RESTO_DOMICILIO, "", new { @class = "text-danger col-form-label-sm" })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(m => m.AdquirienteForm.ID_COMUNA, new { @class = "col-form-label col-form-label-sm" })
                @Html.DropDownListFor(m => m.AdquirienteForm.ID_COMUNA,
                    Model.LISTA_COMUNAS.Select(n =>
                    new SelectListItem() { Text = n.NOMBRE, Value = $"{n.ID_COMUNA}" }),
                    new { @class = "form-control form-control-user", data_propiedad = "ID_COMUNA", data_entero = true })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(m => m.AdquirienteForm.TELEFONO, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.AdquirienteForm.TELEFONO, new { @class = "form-control form-control-user", data_propiedad = "TELEFONO" })
                @Html.ValidationMessageFor(m => m.AdquirienteForm.TELEFONO, "", new { @class = "text-danger col-form-label-sm" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4 mb-3 mb-sm-0">
                @Html.LabelFor(m => m.AdquirienteForm.CODIGO_POSTAL, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.AdquirienteForm.CODIGO_POSTAL, new { @class = "form-control form-control-user", data_propiedad = "CODIGO_POSTAL" })
                @Html.ValidationMessageFor(m => m.AdquirienteForm.CODIGO_POSTAL, "", new { @class = "text-danger col-form-label-sm" })
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0">
                @Html.LabelFor(m => m.AdquirienteForm.CORREO_ELECTRONICO, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.AdquirienteForm.CORREO_ELECTRONICO, new { type = "email", @class = "form-control form-control-user", data_propiedad = "CORREO_ELECTRONICO" })
                @Html.ValidationMessageFor(m => m.AdquirienteForm.CORREO_ELECTRONICO, "", new { @class = "col-form-label col-form-label-sm" })
            </div>
        </div>
    </div>
}