﻿@model SPIEV.Web.Models.Views.Primera_Inscripcion_ViewModel


@using (Html.BeginForm("IngresoInscripcion", "Registro", FormMethod.Post, new { @id = "form-step-1", @class = "user form-spiev", @name = "ComunidadForm" }))
{
    <div class="p-3">
        <h4 class="border-bottom border-gray pb-2">Datos Comunidad</h4>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                @Html.LabelFor(m => m.ComunidadForm.ID_OPCION_COMUNIDAD, new { @class = "col-form-label col-form-label-sm" })

                @Html.DropDownListFor(m => m.ComunidadForm.ID_OPCION_COMUNIDAD,
                    Model.ComunidadForm.LISTA_OPCIONES_COMUNIDAD.Select(n =>
                    new SelectListItem() { Text = n.OPCION, Value = $"{n.ID_OPCION_COMUNIDAD}" }),
                    new { @class = "form-control form-control-user", data_propiedad = "ID_OPCION_COMUNIDAD", data_entero = true })

            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                @Html.LabelFor(m => m.ComunidadForm.CANTIDAD, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.ComunidadForm.CANTIDAD, new { @class = "form-control form-control-user", @placeholder = "Cantidad", data_propiedad = "CANTIDAD", data_entero = true })
                @Html.ValidationMessageFor(m => m.ComunidadForm.CANTIDAD, "", new { @class = "text-danger col-form-label-sm" })
            </div>
        </div>
    </div>
}