﻿@model SPIEV.Web.Models.Views.Primera_Inscripcion_ViewModel

@using (Html.BeginForm("IngresoInscripcion", "Registro", FormMethod.Post, new { @id = "form-step-6", @class = "user form-spiev", @name = "FacturaForm" }))
{
    <div class="p-3">
        <h4 class="border-bottom border-gray pb-2">Datos Factura</h4>
        <div class="form-group row">
            <div class="col-sm-4 mb-3 mb-sm-0">
                @Html.LabelFor(m => m.FacturaForm.NUMERO_FACTURA, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.FacturaForm.NUMERO_FACTURA, new { @class = "form-control form-control-user", data_propiedad = "NUMERO_FACTURA" })
                @Html.ValidationMessageFor(m => m.FacturaForm.NUMERO_FACTURA, "", new { @class = "text-danger col-form-label-sm", data_entero = true })
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0">
                @Html.LabelFor(m => m.FacturaForm.FECHA, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.FacturaForm.FECHA, new { @class = "form-control form-control-user", data_propiedad = "FECHA" })
                @Html.ValidationMessageFor(m => m.FacturaForm.FECHA, "", new { @class = "text-danger col-form-label-sm" })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(m => m.FacturaForm.ID_COMUNA, new { @class = "col-form-label col-form-label-sm" })
                @Html.DropDownListFor(m => m.FacturaForm.ID_COMUNA,
                                        Model.LISTA_COMUNAS.Select(n =>
                                        new SelectListItem() { Text = n.NOMBRE, Value = $"{n.ID_COMUNA}" }),
                                        new { @class = "form-control form-control-user", data_propiedad = "ID_COMUNA", data_entero = true })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                @Html.LabelFor(m => m.FacturaForm.RUT_EMISOR, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.FacturaForm.RUT_EMISOR, new { @class = "form-control form-control-user", data_propiedad = "RUT_EMISOR" })
                @Html.ValidationMessageFor(m => m.FacturaForm.RUT_EMISOR, "", new { @class = "text-danger col-form-label-sm", data_entero = true })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(m => m.FacturaForm.NOMBRE_EMISOR, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.FacturaForm.NOMBRE_EMISOR, new { @class = "form-control form-control-user", data_propiedad = "NOMBRE_EMISOR" })
                @Html.ValidationMessageFor(m => m.FacturaForm.NOMBRE_EMISOR, "", new { @class = "text-danger col-form-label-sm" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                @Html.LabelFor(m => m.FacturaForm.MONTO_TOTAL_FACTURA, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.FacturaForm.MONTO_TOTAL_FACTURA, new { @class = "form-control form-control-user", data_propiedad = "MONTO_TOTAL_FACTURA" })
                @Html.ValidationMessageFor(m => m.FacturaForm.MONTO_TOTAL_FACTURA, "", new { @class = "text-danger col-form-label-sm", data_entero = true })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(m => m.FacturaForm.ID_TIPO_MONEDA, new { @class = "col-form-label col-form-label-sm" })
                @Html.DropDownListFor(m => m.FacturaForm.ID_TIPO_MONEDA,
                                        Model.FacturaForm.LISTA_TIPOS_MONEDAS.Select(n =>
                                        new SelectListItem() { Text = n.TIPO_MONEDA_DESCRIPCION, Value = $"{n.ID_TIPO_MONEDA}" }),
                                        new { @class = "form-control form-control-user", data_propiedad = "ID_TIPO_MONEDA", data_entero = true })
            </div>
        </div>
    </div>
}