﻿<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Primera Inscripción, procesada correctamente.</h4>
    <p>Todos los datos fueron procesados correctamente.</p>
    <hr>
    <p class="mb-0">
        <a href="" class="btn btn-info btn-sm">
            <i class="fas fa-file-download"></i> Comprobante
        </a>
        <a href="@Url.Action("Cargar_Documentacion", "Inscripcion", new { ID_INSCRIPCION =  (long)ViewBag.ID_INSCRIPCION  })" class="btn btn-info btn-sm">
            <i class="fas fa-file-upload"></i> Doc. Fundante
        </a>
    </p>
</div>