﻿@model SPIEV.WEBSITE.Models.FINANCIERA_VM

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Edición Financiera</h6>
    </div>
    <div class="card-body" id="datos-financiera">
        <div class="row">
            <div class="col-lg-12" id="alerta-spiev"></div>
        </div>
        <div class="form-group row">
            @Html.Label("Id :", new { @class = "col-sm-1 col-form-label col-form-label-sm" })
            <div class="col-sm-11">
                @Html.TextBoxFor(m => m.ID_FINANCIERA, new { @class = "form-control form-control-sm", data_propiedad = "ID_FINANCIERA", data_entero = true , @readonly = "true" })
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Nombre :", new { @class = "col-sm-1 col-form-label col-form-label-sm" })
            <div class="col-sm-11">
                @Html.TextBoxFor(m => m.NOMBRE_FINANCIERA, new { @class = "form-control form-control-sm", data_propiedad = "NOMBRE_FINANCIERA" })
            </div>
        </div>
        <button id="btn-editar-financiera" onclick="CLICK_EDIT()" class="btn btn-primary float-right" type="submit">Guardar financiera</button>
    </div>
</div>

<!--RENDERIZADO DE SCRIPTS POR PAGINA-->
@section scripts
{
    @Scripts.Render($"~/Scripts/pages/Admin_Financieras.js?v={DateTime.Now.ToString("ddMMyyyyHmm")}")
}