﻿@model List<SPIEV.WEBSITE.Models.BUSCAR_RUN_VM>
<table>
    @foreach (SPIEV.WEBSITE.Models.BUSCAR_RUN_VM OBJ in Model)
    {
        <tr>
            <td>
                <a href="javascript:COMPLETAR_SOLICITANTE_POR_ID(@OBJ.ID);">@OBJ.TEXTO</a>
            </td>
        </tr>
    }
</table>