﻿<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Inscripciónes Ingresadas</h1>
<p class="mb-4">Todas las primeras inscripciónes ingresadas</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Inscripciónes ingresadas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-sm" id="tabla-inscripciones-rechazo" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Run Adquir.</th>
                        <th>Usuario Ingreso</th>
                        <th>Fecha</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Run Adquir.</th>
                        <th>Usuario Ingreso</th>
                        <th>Fecha</th>
                        <th>Opciones</th>
                    </tr>
                </tfoot>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Detalles -->
<div class="modal fade bd-example-modal-lg" id="modal-detalle-solicitud" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalles de inscripción : <span id="span-id-inscripcion"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    @*<div class="col-12 py-1">
                        <div class="card">
                            <div class="card-body">
                                <a id="inscripcion-documentos" href="#" data-url="/inscripcion/cargar-documentacion/" class="btn btn-sm btn-primary">
                                    <i class="fas fa-sm fa-file-upload"></i> Documentos fundantes
                                </a>
                            </div>
                        </div>
                    </div>*@
                    <div class="col-12 pt-1">
                        <div class="card">
                            <div class="card-body p-3">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapse-inscripcion" role="button">
                                    <i class="fa" aria-hidden="true"></i> Datos del registro
                                </a>
                                <div class="collapse" id="collapse-inscripcion">
                                    <hr />
                                    @Html.Partial("~/Views/Shared/Modals/_DetalleInscripcion.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cambio Estado-->
<div class="modal fade" id="modal-cambio-estado" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cambio de estado, solicitud: <span id="cambio-estado-id-solicitud"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12" id="alerta-spiev">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="select-estados-solicitud" class="col-form-label">Nuevo Estado:</label>
                            <select id="select-estados-solicitud" class="form-control form-control-sm">
                                <option>Cargando...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="comentario-cambio-estado" class="col-form-label">Comentario:</label>
                            <textarea class="form-control" id="comentario-cambio-estado"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="CLICK_CAMBIO_ESTADO()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<!--RENDERIZADO DE ESTILOS POR PAGINA-->
@section styles
{
    @Styles.Render("~/Content/datatables/dataTables.bootstrap4.min.css")
}

<!--RENDERIZADO DE SCRIPTS POR PAGINA-->
@section scripts
{
    @Scripts.Render("~/Scripts/moment/moment.min.js")
    @Scripts.Render("~/Scripts/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/datatables/dataTables.bootstrap4.min.js")
    @Scripts.Render($"~/Scripts/pages/Inscripcion_Inscripcion_rechazo.js?v={DateTime.Now.ToString("ddMMyyyyHmm")}")
}