﻿@model SPIEV.Web.Models.Views.Solicitud_ViewModel
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Editar Solicitud</h6>
    </div>
    <div class="card-body" id="datos-usuario">
        <div class="row">
            <div class="col-lg-12" id="alerta-spiev"></div>
        </div>

        <div class="row" id="row-upload-ajax" style="display: none;">
            <div class="col-11">
                <label id="label-status">
                    <i class="fas fa-spinner fa-spin"></i> Subiendo...
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="id-solicitud">Id Solicitud</label>
                    <input type="number" class="form-control form-control-sm" id="id-solicitud" readonly="readonly" value="@ViewBag.ID_SOLICITUD" />
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="rut-adquiriente">Rut Adquiriente</label>
                    <input type="text" class="form-control form-control-sm" id="rut-adquiriente" placeholder="Ej. 19570929-7" maxlength="10" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="correo-adquiriente">Correo Adquiriente</label>
                    <input type="email" class="form-control form-control-sm" id="correo-adquiriente" />
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="inputEmail3">Financiera</label>
                    @Html.DropDownList("Financieras",
                    Model.Financieras.Select(n =>
                        new SelectListItem {
                            Text = n.NOMBRE_FINANCIERA,
                            Value = $"{n.ID_FINANCIERA}"  }),
                    new { @class = "form-control form-control-sm" })
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="Sucursales">Sucursal</label>
                    @Html.DropDownList("Sucursales",
                    Model.Sucursales.Select(n =>
                        new SelectListItem {
                            Text = n.SUCURSAL.NOMBRE_SUCURSAL,
                            Value = $"{n.SUCURSAL.ID_SUCURSAL}"  }),
                    new { @class = "form-control form-control-sm" })
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="comentario-solicitud">Comentario Solicitud</label>
                    <textarea class="form-control form-control-sm" id="comentario-solicitud" rows="5"></textarea>
                </div>
            </div>
            <div class="col-8">
                <button type="button" id="btn-add-file" class="btn btn-sm btn-outline-primary disabled" disabled onclick="CLICK_ADD_FILE()">
                    <i class="fas fa-spinner fa-spin"></i>
                    Cargando...
                </button>
                <div id="files" class="row">

                </div>
            </div>
        </div>
    </div>
    <div class="card-footer bg-transparent">
        <div class="row">
            <div class="col-lg-12">
                <button id="btn-editar-solicitud" onclick="CLICK_EDIT()" class="btn btn-sm btn-primary float-right disabled" disabled type="submit">
                    <i class="fas fa-spinner fa-spin"></i>
                    Cargando...
                </button>
            </div>
        </div>
    </div>
</div>

<!--RENDERIZADO DE SCRIPTS POR PAGINA-->
@section scripts
{
    @Scripts.Render($"~/Scripts/pages/Solicitud_Editar.js?v={DateTime.Now.ToString("ddMMyyyyHmm")}")
}