﻿<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Mis Solicitudes</h1>
<p class="mb-4">Todas las solicitudes por usuario</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Todas las solicitudes</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-sm" id="tabla-mis-solicitudes" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Rut</th>
                        <th>Estado Solicitud</th>
                        <th>Estado Inscripción</th>
                        <th>Sucursal</th>
                        <th>Fecha</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Rut</th>
                        <th>Estado Solicitud</th>
                        <th>Estado Inscripción</th>
                        <th>Sucursal</th>
                        <th>Fecha</th>
                        <th>Opciones</th>
                    </tr>
                </tfoot>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<!--MODAL DETALLE MIS SOLICITES-->
@Html.Partial("~/Views/Shared/Modals/_Detalle_Mis_Solicitudes.cshtml")

<!--RENDERIZADO DE ESTILOS POR PAGINA-->
@section styles
{
    @Styles.Render("~/Content/datatables/dataTables.bootstrap4.min.css")
}

<!--RENDERIZADO DE SCRIPTS POR PAGINA-->
@section scripts
{
    @Scripts.Render("~/Scripts/moment/moment.min.js")
    @Scripts.Render("~/Scripts/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/datatables/dataTables.bootstrap4.min.js")
    @Scripts.Render($"~/Scripts/pages/Solicitud_Mis_Solicitudes.js?v={DateTime.Now.ToString("ddMMyyyyHmm")}")

    <script>
        $(document).ready(function () {
            @* FUNCION DESDE: Solicitud_Mis_Solicitudes.js *@
            LOAD_MIS_SOLICITUDES();
        });
    </script>
}