﻿<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Bienvenido, Portal Primeras Inscripciones</h1>
</div>

<!-- Content Row -->
<div class="row row-eq-height">

    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card bg-dark text-white h-100">
            <img class="card-img caja-landing-solicitud h-100" src="~/Images/InicioSolicitud/caluga-solicitud.jpg" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title font-weight-bold text-white transparencia-landing-solicitud">Solicitudes Ingresadas</h5>
                <p class="card-text transparencia-landing-solicitud">Solicitudes recibidas y pendientes</p>
                <a href="@Url.Action("SOLICITUD_INGRESO","Registro")" class="btn btn-outline-light">Ir a la opción</a>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card bg-dark text-white h-100">
            <img class="card-img caja-landing-solicitud h-100" src="~/Images/InicioSolicitud/caluga-transferencia.jpg" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title font-weight-bold text-white transparencia-landing-solicitud">Inscripciones Realizadas</h5>
                <p class="card-text transparencia-landing-solicitud">Todas las inscripciones generadas por usuario</p>
                <a href="@Url.Action("INSCRIPCION_INGRESO","Inscripcion")" class="btn btn-outline-light">Ir a la opción</a>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card bg-dark text-white h-100">
            <img class="card-img caja-landing-solicitud h-100" src="~/Images/InicioSolicitud/caluga-reporte.jpg" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title font-weight-bold text-white transparencia-landing-solicitud">Gestión Rechazos</h5>
                <p class="card-text transparencia-landing-solicitud">Inscripciones rechazadas por SPIEV</p>
                <a href="@Url.Action("INSCRIPCION_RECHAZO","Inscripcion")" class="btn btn-outline-light">Ir a la opción</a>
            </div>
        </div>
    </div>

</div>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h6 class="h5 mb-0 text-gray-800">Resumen de Inscripciones</h6>
</div>

<div class="row">

    <div class="col mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Solicitudes Ingresadas</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 ">
                            <span id="total-solicitud-ingresada" class="integers">0</span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-newspaper fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Inscripciones Ingresadas</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 ">
                            <span id="total-inscripcion-ingresada" class="integers">0</span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-check-double fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Inscripciones Rechazadas</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <span id="total-inscripcion-rechazada" class="integers">0</span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-exclamation-triangle fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Documentación Cargada</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <span id="total-inscripcion-cargada" class="integers">0</span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-file-upload fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total de Inscripciones</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <span id="total-inscripcion" class="integers">0</span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-chart-pie fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Estadisticas por estado:</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Opciones</div>
                        <a class="dropdown-item" href="#">Recargar</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <div id="chartdiv" style="width: 100%; height: 300px; background-color: #FFFFFF;"></div>
                </div>
            </div>
        </div>
    </div>


<!--RENDERIZADO DE SCRIPTS POR PAGINA-->
@section scripts
{
    <!--Contador JQUERY-->
    @Scripts.Render("~/Scripts/counter-up/jquery.counterup.min.js")
    @Scripts.Render("~/Scripts/counter-up/jquery.waypoints.js")

    <!--GRAFICOS-->
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/pie.js"></script>

    @Scripts.Render($"~/Scripts/pages/Registro_Pagina_Inicio.js?v={DateTime.Now.ToString("ddMMyyyyHmm")}")
}