﻿<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Solicitudes ingresadas</h1>
<p class="mb-4">Todas las solicitudes ingresadas y pendientes</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Solicitudes ingresadas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-sm" id="tabla-solicitudes-ingreso" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Rut</th>
                        <th>Usuario Ingreso</th>
                        <th>Sucursal</th>
                        <th>Fecha</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Rut</th>
                        <th>Usuario Ingreso</th>
                        <th>Sucursal</th>
                        <th>Fecha</th>
                        <th>Opciones</th>
                    </tr>
                </tfoot>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Detalles -->
<div class="modal fade bd-example-modal-lg" id="modal-detalle-solicitud" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalles de solicitud : <span id="span-id-solicitud"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-12 py-1">
                        <div class="card">
                            <div class="card-body">
                                <a id="inscripcion-solicitud" href="#" data-url="/registro/desde-solicitud/" class="btn btn-sm btn-primary">
                                    <i class="fas fa-sm fa-file-alt"></i> Generar inscripción
                                </a>
                                <a id="limitacion-solicitud" href="#" data-url="/limitacion/desde-solicitud/" class="btn btn-sm btn-primary">
                                    <i class="fas fa-sm fa-ban"></i> Generar limitación
                                </a>
                                <button id="btn-modal-cambio-estado" type="button" class="btn btn-sm btn-primary">
                                    <i class="fas fa-sm fa-exchange-alt"></i> Cambiar estado
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pt-3">
                        <div class="card">
                            <div class="card-body p-3">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapse-archivos" role="button">
                                    <i class="fa" aria-hidden="true"></i> Archivos
                                </a>
                                <div class="collapse" id="collapse-archivos">
                                    <hr />
                                    <table id="tabla-detalle-archivos" class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Id archivo</th>
                                                <th>Tipo archivo</th>
                                                <th>Ver archivo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="4">Cargando...</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="card my-1">
                            <div class="card-body p-3">
                                <a class="card-link collapsed" data-toggle="collapse" href="#collapse-historia-solicitud" role="button">
                                    <i class="fa" aria-hidden="true"></i> Historia (Solicitud)
                                </a>
                                <div class="collapse" id="collapse-historia-solicitud">
                                    <hr />
                                    <table id="tabla-historia-solicitud" class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Usuario</th>
                                                <th>Estado</th>
                                                <th>Comentario</th>
                                                <th>Fecha</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="4">Cargando...</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cambio Estado-->
<div class="modal fade" id="modal-cambio-estado" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cambio de estado, solicitud: <span id="cambio-estado-id-solicitud"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12" id="alerta-spiev">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="select-estados-solicitud" class="col-form-label">Nuevo Estado:</label>
                            <select id="select-estados-solicitud" class="form-control form-control-sm">
                                <option>Cargando...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="comentario-cambio-estado" class="col-form-label">Comentario:</label>
                            <textarea class="form-control" id="comentario-cambio-estado"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="CLICK_GUARDAR_ESTADO()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<!--RENDERIZADO DE ESTILOS POR PAGINA-->
@section styles
{
    @Styles.Render("~/Content/datatables/dataTables.bootstrap4.min.css")
}

<!--RENDERIZADO DE SCRIPTS POR PAGINA-->
@section scripts
{
    @Scripts.Render("~/Scripts/moment/moment.min.js")
    @Scripts.Render("~/Scripts/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/datatables/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Scripts/datatables/fnFindCellRowIndexes.js")
    @Scripts.Render($"~/Scripts/pages/Registro_Solicitud_Ingreso.js?v={DateTime.Now.ToString("ddMMyyyyHmm")}")
}