﻿@model SPIEV.WEBSITE.Models.SPIEV_VM

@using (Html.BeginForm("IngresoInscripcion", "Registro", FormMethod.Post, new { @id = "form-step-2", @class = "form-spiev", @name = "ADQUIRIENTE" }))
{
    <div class="p-3">
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-sm float-right btn-outline-primary" onclick="$('#form-step-2').trigger('reset');">
                    <i class="fas fa-eraser"></i> Limpiar todo
                </button>
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0">
                @Html.LabelFor(m => m.ADQUIRIENTE.RAZON_SOCIAL, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.ADQUIRIENTE.RAZON_SOCIAL, new { @class = "form-control form-control-sm", data_propiedad = "RAZON_SOCIAL" })
                @Html.ValidationMessageFor(m => m.ADQUIRIENTE.RAZON_SOCIAL, "", new { @class = "text-danger col-form-label-sm" })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(m => m.ADQUIRIENTE.APELLIDO_PATERNO, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.ADQUIRIENTE.APELLIDO_PATERNO, new { @class = "form-control form-control-sm", data_propiedad = "APELLIDO_PATERNO" })
                @Html.ValidationMessageFor(m => m.ADQUIRIENTE.APELLIDO_PATERNO, "", new { @class = "text-danger col-form-label-sm" })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(m => m.ADQUIRIENTE.APELLIDO_MATERNO, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.ADQUIRIENTE.APELLIDO_MATERNO, new { @class = "form-control form-control-sm", data_propiedad = "APELLIDO_MATERNO" })
                @Html.ValidationMessageFor(m => m.ADQUIRIENTE.APELLIDO_MATERNO, "", new { @class = "text-danger col-form-label-sm" })
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0 search-div">
                @Html.LabelFor(m => m.ADQUIRIENTE.RUN, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.ADQUIRIENTE.RUN, new { @class = "form-control form-control-sm", data_propiedad = "RUN" })
                @Html.ValidationMessageFor(m => m.ADQUIRIENTE.RUN, "", new { @class = "text-danger col-form-label-sm" })
                <div class="search-input"></div>
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(m => m.ADQUIRIENTE.ID_CALIDAD_ADQUIRIENTE, new { @class = "col-form-label col-form-label-sm" })
                @Html.DropDownListFor(m => m.ADQUIRIENTE.ID_CALIDAD_ADQUIRIENTE,
                                    Model.ADQUIRIENTE.LISTA_CALIDAD_ADQUIRIENTE.Select(n =>
                                    new SelectListItem() { Text = n.CALIDAD_PERSONA.TIPO_PERSONA_DESCRIPCION, Value = $"{n.ID_CALIDAD_ADQUIRIENTE}" }),
                                    new { @class = "form-control form-control-sm", data_propiedad = "ID_CALIDAD_ADQUIRIENTE", data_entero = true })
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0">
                @Html.LabelFor(m => m.ADQUIRIENTE.CALLE, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.ADQUIRIENTE.CALLE, new { @class = "form-control form-control-sm", data_propiedad = "CALLE" })
                @Html.ValidationMessageFor(m => m.ADQUIRIENTE.CALLE, "", new { @class = "text-danger col-form-label-sm" })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(m => m.ADQUIRIENTE.NUMERO_DOMICILIO, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.ADQUIRIENTE.NUMERO_DOMICILIO, new { @class = "form-control form-control-sm", data_propiedad = "NUMERO_DOMICILIO" })
                @Html.ValidationMessageFor(m => m.ADQUIRIENTE.NUMERO_DOMICILIO, "", new { @class = "text-danger col-form-label-sm" })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(m => m.ADQUIRIENTE.LETRA_DOMICILIO, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.ADQUIRIENTE.LETRA_DOMICILIO, new { @class = "form-control form-control-sm", data_propiedad = "LETRA_DOMICILIO" })
                @Html.ValidationMessageFor(m => m.ADQUIRIENTE.LETRA_DOMICILIO, "", new { @class = "text-danger col-form-label-sm" })
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0">
                @Html.LabelFor(m => m.ADQUIRIENTE.RESTO_DOMICILIO, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.ADQUIRIENTE.RESTO_DOMICILIO, new { @class = "form-control form-control-sm", data_propiedad = "RESTO_DOMICILIO" })
                @Html.ValidationMessageFor(m => m.ADQUIRIENTE.RESTO_DOMICILIO, "", new { @class = "text-danger col-form-label-sm" })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(m => m.ADQUIRIENTE.ID_COMUNA, new { @class = "col-form-label col-form-label-sm" })
                @Html.DropDownListFor(m => m.ADQUIRIENTE.ID_COMUNA,
                    Model.LISTA_COMUNAS.Select(n =>
                    new SelectListItem() { Text = n.NOMBRE, Value = $"{n.ID_COMUNA}" }),
                    new { @class = "form-control form-control-sm select2", data_propiedad = "ID_COMUNA", data_entero = true })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(m => m.ADQUIRIENTE.TELEFONO, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.ADQUIRIENTE.TELEFONO, new { @class = "form-control form-control-sm", data_propiedad = "TELEFONO" })
                @Html.ValidationMessageFor(m => m.ADQUIRIENTE.TELEFONO, "", new { @class = "text-danger col-form-label-sm" })
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0">
                @Html.LabelFor(m => m.ADQUIRIENTE.CODIGO_POSTAL, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.ADQUIRIENTE.CODIGO_POSTAL, new { @class = "form-control form-control-sm", data_propiedad = "CODIGO_POSTAL" })
                @Html.ValidationMessageFor(m => m.ADQUIRIENTE.CODIGO_POSTAL, "", new { @class = "text-danger col-form-label-sm" })
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0">
                @Html.LabelFor(m => m.ADQUIRIENTE.CORREO_ELECTRONICO, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.ADQUIRIENTE.CORREO_ELECTRONICO, new { type = "email", @class = "form-control form-control-sm", data_propiedad = "CORREO_ELECTRONICO" })
                @Html.ValidationMessageFor(m => m.ADQUIRIENTE.CORREO_ELECTRONICO, "", new { @class = "col-form-label col-form-label-sm" })
            </div>
        </div>
    </div>
}