﻿@model SPIEV.WEBSITE.Models.SPIEV_VM

@using (Html.BeginForm("IngresoInscripcion", "Registro", FormMethod.Post, new { @id = "form-step-6", @class = "form-spiev", @name = "FACTURA" }))
{
    <div class="p-3">
        <div class="form-group row">
            <div class="col-sm-4 mb-3 mb-sm-0">
                @Html.LabelFor(m => m.FACTURA.NUMERO_FACTURA, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.FACTURA.NUMERO_FACTURA, new { @class = "form-control form-control-sm", data_propiedad = "NUMERO_FACTURA" })
                @Html.ValidationMessageFor(m => m.FACTURA.NUMERO_FACTURA, "", new { @class = "text-danger col-form-label-sm", data_entero = true })
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0">
                @Html.LabelFor(m => m.FACTURA.FECHA, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.FACTURA.FECHA, new { @readonly = true, @class = "form-control form-control-sm", data_propiedad = "FECHA" })
                @Html.ValidationMessageFor(m => m.FACTURA.FECHA, "", new { @class = "text-danger col-form-label-sm" })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(m => m.FACTURA.ID_COMUNA, new { @class = "col-form-label col-form-label-sm" })
                @Html.DropDownListFor(m => m.FACTURA.ID_COMUNA,
                                        Model.LISTA_COMUNAS.Select(n =>
                                        new SelectListItem() { Text = n.NOMBRE, Value = $"{n.ID_COMUNA}" }),
                                        new { @class = "form-control form-control-sm select2", data_propiedad = "ID_COMUNA", data_entero = true })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                @Html.LabelFor(m => m.FACTURA.RUT_EMISOR, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.FACTURA.RUT_EMISOR, new { @class = "form-control form-control-sm", data_propiedad = "RUT_EMISOR" })
                @Html.ValidationMessageFor(m => m.FACTURA.RUT_EMISOR, "", new { @class = "text-danger col-form-label-sm", data_entero = true })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(m => m.FACTURA.NOMBRE_EMISOR, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.FACTURA.NOMBRE_EMISOR, new { @class = "form-control form-control-sm", data_propiedad = "NOMBRE_EMISOR" })
                @Html.ValidationMessageFor(m => m.FACTURA.NOMBRE_EMISOR, "", new { @class = "text-danger col-form-label-sm" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                @Html.LabelFor(m => m.FACTURA.MONTO_TOTAL_FACTURA, new { @class = "col-form-label col-form-label-sm" })
                @Html.TextBoxFor(m => m.FACTURA.MONTO_TOTAL_FACTURA, new { @class = "form-control form-control-sm", data_propiedad = "MONTO_TOTAL_FACTURA" })
                @Html.ValidationMessageFor(m => m.FACTURA.MONTO_TOTAL_FACTURA, "", new { @class = "text-danger col-form-label-sm", data_entero = true })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(m => m.FACTURA.ID_TIPO_MONEDA, new { @class = "col-form-label col-form-label-sm" })
                @Html.DropDownListFor(m => m.FACTURA.ID_TIPO_MONEDA,
                                        Model.FACTURA.LISTA_TIPOS_MONEDAS.Select(n =>
                                        new SelectListItem() { Text = n.TIPO_MONEDA_DESCRIPCION, Value = $"{n.ID_TIPO_MONEDA}" }),
                                        new { @class = "form-control form-control-sm", data_propiedad = "ID_TIPO_MONEDA", data_entero = true })
            </div>
        </div>
    </div>
}